<!DOCTYPE html>
<html>
<head>
    <title>TeaDiagnostix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">🌿 <span>TeaDiagnosticX</span></div>
</nav>

<section class="hero">
    <h1>TeaDiagnostix</h1>
    <p>Advanced Tea Plant Disease Detection & Analysis</p>

    <a href="/analyze">
        <button class="btn-primary">Analyze Leaf</button>
    </a>
</section>

<footer class="footer">
    TeaDiagnostix System – University Project Evaluation
</footer>

</body>
</html>